<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <title>Geo Review (Yandex Maps)</title>
</head>
<body>
<div class="wrapper" id="wrapper">
    <div class="map" id='map'></div>
    {{!-- <div id="reviewBlock" class="reviewBlock visually-hidden" data-coord="" data-address="" data-position="">
                {{> "./src/templates/makeFormTemplate.hbs"}}
    </div> --}}
</div>
</body>
</html>