<div class="container">
    <div class="logo">
        <img src="./img/logo.png" alt="" class="logo__img">
    </div>
    <div class="app">
        <header class="app__header">
            <h1 class="header__title">Выберите друзей</h1>
            <div class="header__close">
                <img src="./img/white.png" alt="" class="header__img">
            </div>
        </header>
        <div class="app__content content">
            <div class="content__alert content__alert_hide">
                <h2 class="alert__title title">Списки друзей сохранены!</h2>
                <div class="alert__button">OK</div>
            </div>
            <div class="content__download download">
                <div class="content__search content__search_left">
                    <div class="search__friends search-block">
                        <div class="search__icon">
                            <img src="./img/search.png" alt="" class="search__img">
                        </div>
                        <input type="text" id="filterInputFriend" class="search__input" placeholder="Начните вводить имя друга">
                    </div>
                </div>
                <div class="download__column column">
                    <h2 class="download__title title">Ваши друзья</h2>
                    <div class="download__result">
                        <ul class="download__list">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content__add add">
                <div class="content__search content__search_right">
                    <div class="search__result search-block">
                        <div class="search__icon">
                            <img src="./img/search.png" alt="" class="search__img">
                        </div>
                        <input type="text" id="filterInputResult" class="search__input" placeholder="Начните вводить имя друга">
                    </div>
                </div>
                <div class="add__column column">
                    <h2 class="add__title title">Друзья в списке</h2>
                    <div class="add__result">
                        <ul class="result__list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="app__footer footer">
            <div class="footer__btn">Сохранить</div>
        </footer>
    </div>
</div>
