{{#each reviews}}
    <li class="review__item">
        <div class="review__item-header">
            <span class="review__item-name">{{ name }}</span>
            <span class="review__item-place">{{ place }}</span>
            <span class="review__item-date">{{ date }}</span>
        </div>
        <p class="review__item-text">
            {{ textReview }}
        </p>
    </li>
{{/each}}

